##########################################################################
# MARY TTS configuration file cn.config
##########################################################################

name = zh
zh.version = 4.3.0

locale = zh

###########################################################################
############################## The Modules  ###############################
###########################################################################
###
modules.classes.list = \
       marytts.language.cn.ChineseTokeniserAndPosTagger \
       marytts.language.cn.ChinesePhonemiser \
       marytts.language.cn.Prosody \
       marytts.language.cn.ChinesePreprocess


####################################################################
####################### Module settings  ###########################
####################################################################

# Phonemiser settings
zh.allophoneset = jar:/marytts/language/cn/lexicon/allophones.cn.xml


# Feature processor manager
featuremanager.classes.list = \
	marytts.features.FeatureProcessorManager(zh)

	
# rules for prediction of ToBI tones
zh.prosody.tobipredparams = jar:/marytts/language/cn/prosody/tobipredparams_chinese.xml

zh.prosody.paragraphdeclination = true

# rules for accent priorities of pos
zh.prosody.accentPriorities = jar:/marytts/language/cn/prosody/POSAccentPriorities.cn.properties

# copy the word accents to the first accented syllable
zh.prosody.syllableaccents = true	