##########################################################################
# MARY TTS configuration file cn.config
##########################################################################

name = cn
cn.version = 4.3.0

locale = zh-CN

###########################################################################
############################## The Modules  ###############################
###########################################################################
###
modules.classes.list = \
       marytts.language.cn.ChineseTokeniserAndPosTagger \
       marytts.language.cn.ChinesePhonemiser \
       marytts.language.cn.ChinesePreprocess


####################################################################
####################### Module settings  ###########################
####################################################################

# Phonemiser settings
cn.allophoneset = jar:/marytts/language/cn/lexicon/allophones.cn.xml


# Feature processor manager
featuremanager.classes.list = \
	marytts.features.FeatureProcessorManager(cn)
